
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Home</mat-card-title>
    </mat-card-header>
    <mat-card-content>
  <div *ngIf="!this.authService.isLoggedIn()">
    <h2>please login</h2>
  </div>
  <div *ngIf="this.authService.isLoggedIn()">
    <p>you are logged in</p>
    <p>There are: {{ itemCount | async }} items in inventory </p>
    <p>There are: {{ locationCount | async }} locations in the system </p>
  </div>
</mat-card-content>
  </mat-card>
</div>
