.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-card {
  margin: 20px;
  padding: 20px;
  width: 400px; /* Adjust width as needed */
}

.mat-card-header {
  background-color: #f3f3f3;
}

.mycontent {
  display: flex;
  flex-direction: column;
}

.example-full-width {
  width: 100%;
  margin-bottom: 20px;
}

.example-half-width {
  width: calc(50% - 10px); /* Adjust for margin */
  margin-right: 20px; /* Adjust margin as needed */
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
