<div class="container">
  <mat-card class="location-card">
    <mat-card-header>
      <mat-card-title>Create Location</mat-card-title>
      <mat-card-subtitle>Manage your locations</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mycontent">
      <form [formGroup]="locationForm" (ngSubmit)="saveLocation()">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Shortname" formControlName="shortname">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>
        <div class="form-row">
          <mat-form-field class="example-half-width">
            <input matInput placeholder="City" formControlName="city">
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <input matInput placeholder="State" formControlName="state">
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="example-half-width">
            <input matInput placeholder="Zip" formControlName="zip">
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <input matInput placeholder="Country" formControlName="country">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">Create Location</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
