<div class="container">
    <mat-card>
        <mat-card-header>
        <mat-card-title>Locations</mat-card-title>
        <mat-card-subtitle>Manage your locations</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="end center">
            <mat-form-field>
                <input matInput [(ngModel)]="enteredData" (keyup)="applyFilter($event)" placeholder="Search">
            </mat-form-field>
            <button mat-raised-button color="primary" [routerLink]="['/inventory/locations/create']">
            <mat-icon>add</mat-icon>
            Create Location
          </button>
        </div>
        <div fxLayout="row">
            <div fxFlex="100">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="shortname">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Short Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.shortname}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button color="secondary" (click)="openDialog(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteLocation(element.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
        </mat-card-content>
    </mat-card>
</div>
